<ion-header>
  <ion-toolbar>
    <ion-title>Formulario Ionic + Firebase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="formData.name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="formData.email" name="email" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="formData.birthDate" name="birthDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select [(ngModel)]="formData.gender" name="gender">
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="femenino">Femenino</ion-select-option>
        <ion-select-option value="otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Hobbies</ion-label>
      <ion-select [(ngModel)]="formData.hobbies" name="hobbies" multiple>
        <ion-select-option value="leer">Leer</ion-select-option>
        <ion-select-option value="deportes">Deportes</ion-select-option>
        <ion-select-option value="música">Música</ion-select-option>
        <ion-select-option value="cine">Cine</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">País</ion-label>
      <ion-input [(ngModel)]="formData.country" name="country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentarios</ion-label>
      <ion-textarea [(ngModel)]="formData.comments" name="comments"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Recibir boletín</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="formData.newsletter" name="newsletter"></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" class="ion-margin-top">Enviar</ion-button>
  </form>
</ion-content>
